.boxclass{padding: 10px; border: solid silver 2px; background-color: lightgrey; margin:50px; width: 50%; hegiht:60%}
.spanclass{padding: 10px; background-color: lightgrey; margin-left: 100px;}
.errorAlign{margin:10px;}
.leftBox{border:1px solid red; padding: 5px; margin : 5px;float: left; background-color: lightgray; height:100px; width:90px;}
.rightBox{border: 1px solid blue; padding: 5px; float:right; margin: 5px;background-color: lightgray; height:100px;width: 700px;}
.mySlides{height:180px;width:660px;}